@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Blorc.PatternFly.Components.Icon

@inherits BlorcComponentBase

<div class="@Class">
    <button class="pf-c-expandable__toggle" aria-expanded="@IsExpanded" @onclick="OnClick">
        <ChevronRightIcon Class="pf-c-expandable__toggle-icon" />
        <span>@ToggleText</span>
    </button>

    <div class="pf-c-expandable__content" hidden="@IsCollapsed">@ChildContent</div>
</div>