@inherits Blorc.PatternFly.Components.Expandable.ExpandableComponent

@using Blorc.PatternFly.Components.Icon

<div class="@Class">
    <button class="pf-c-expandable__toggle" aria-expanded="@IsExpanded" onclick="@OnClick">
        <ChevronRightIcon Class="pf-c-expandable__toggle-icon" />
        <span>@ToggleText</span>
    </button>

    <div class="pf-c-expandable__content" hidden="@IsCollapsed">@ChildContent</div>
</div>

@functions
{
    private void OnClick()
    {
        IsExpanded = !IsExpanded;

        var handler = Toggled;
        if (handler != null)
        {
            handler(this, EventArgs.Empty);
        }
    }
}