@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits Blorc.PatternFly.Components.AlertGroup.AlertGroupContainerComponent
   
  
@if (Items != null)
{
    <div class="pf-c-alert-group pf-m-toast @PositionClass">
        <CascadingValue Value=this>
            @foreach (var item in Items)
            {
                <AlertGroup Description="@item.Description"
                            AlertType="@item.AlertType"
                            MaximumOpacity="@item.MaximumOpacity"
                            VisibleStateDuration="@item.VisibleStateDuration"
                            ShowCloseIconButton="@item.ShowCloseIcon"></AlertGroup>
            }
        </CascadingValue>

    </div>
}
       
       
