@inherits Blazorc.PatternFly.Components.Dropdown.DropdownComponent

@using Blazorc.PatternFly

<CascadingValue Value=this>
    <div class="@Class">
        <ToggleContainer ref="toggleContainer"
                         Id="@ToggleId"
                         IsPlain="@IsPlain"
                         Toggled="@OnToggled">
            @Toggle
        </ToggleContainer>

        <div style="@OpenState">
            @ChildContent

            @if (Items != null)
            {
                if (IsGrouped)
                {
                    @Items
                }
                else
                {
                    <ul aria-labelledby="@ToggleId" class="@PopupClass" role="menu">
                        @Items
                    </ul>
                }
            }
        </div>
    </div>
</CascadingValue>

@functions
{
    private ToggleContainer toggleContainer;

    private void OnToggled(object sender, EventArgs e)
    {
        IsOpen = toggleContainer.IsOpen;
    }
}

