@inherits Blazorc.PatternFly.Components.Dropdown.DropdownComponent

@using Blazorc.PatternFly

<div class="pf-c-dropdown @Class">
    <ToggleContainer ref="toggleContainer"
                     Id="@ToggleId"
                     Toggled="@OnToggled">
        @Toggle
    </ToggleContainer>

    <div style="@DisplayConverter.GetDisplayMode(IsOpen)">
        @ChildContent

        @if (Items != null)
        {
            <ul aria-labelledby="@ToggleId" class="pf-c-dropdown__menu" role="menu">
                @Items
            </ul>
        }
    </div>
</div>

@functions
{
    private ToggleContainer toggleContainer;

    private void OnToggled(object sender, EventArgs e)
    {
        Console.WriteLine("DROPDOWN: IsOpen toggled");

        IsOpen = toggleContainer.IsOpen;
    }
}

