@inherits Blazorc.PatternFly.Components.Dropdown.ToggleContainerComponent

@if (IsSplitButton)
{
    <div class="@Class">
        @SplitButtonItems

        <button id="@Id"
                class="@ButtonClass"
                type="button"
                disabled="@IsDisabled"
                aria-expanded="@IsOpen"
                aria-haspopup="true"
                onclick="@(() => OnClick())">
            <CascadingValue Value=this>
                @ChildContent
            </CascadingValue>
        </button>
    </div>
}
else
{
    <button id="@Id"
            class="@ButtonClass"
            type="button"
            disabled="@IsDisabled"
            aria-expanded="@IsOpen"
            aria-haspopup="true"
            onclick="@(() => OnClick())">
        <CascadingValue Value=this>
            @ChildContent
        </CascadingValue>
    </button>
}

@functions
{
    private void OnClick()
    {
        IsOpen = !IsOpen;

        var handler = Toggled;
        if (handler != null)
        {
            handler(this, EventArgs.Empty);
        }
    }
}