@page "/components/table"

@using Blorc.PatternFly.Components.Table
@using System
@using System.Collections.Generic;


@inherits TableDemoComponent
<Metadata ComponentName="Table" />

<Todo ComponentName="Table" />
<section class="ws-section ws-live-demo">
    <Example Title="Simple Manual Table">
        <Table Caption="Simple Manual Table" >
            <Header>
                <Row>
                    <Column Label="Repositories" Key="0" />
                    <Column Label="Branches" Key="1" />
                    <Column Label="Pull requests" Key="2" />
                    <Column Label="Workspaces" Key="3"/>
                    <Column Label="Last commit" Key="4" Align="@Align.Center"/>
                </Row>
            </Header>
            <Body>
                <Row>
                    <Cell Label="Repositories" Key="0" Value="one"/>
                    <Cell Label="Branches" Key="1" Value="two"/>
                    <Cell Label="Pull requests" Key="2" Value="three"/>
                    <Cell Label="Workspaces" Key="3" Value="four"/>
                    <Cell Label="Last commit" Key="4" Value="five" Align="@Align.Center"/>
                </Row>
                <Row>
                    <Cell Label="Repositories" Key="0" Value="one"/>
                    <Cell Label="Branches" Key="1" Value="two"/>
                    <Cell Label="Pull requests" Key="2" Value="three"/>
                    <Cell Label="Workspaces" Key="3" Value="four"/>
                    <Cell Label="Last commit" Key="4" Value="five" Align="@Align.Center"/>
                </Row>
                <Row>
                    <Cell Label="Repositories" Key="0" Value="one"/>
                    <Cell Label="Branches" Key="1" Value="two"/>
                    <Cell Label="Pull requests" Key="2" Value="three"/>
                    <Cell Label="Workspaces" Key="3" Value="four"/>
                    <Cell Label="Last commit" Key="4" Value="five (not centered)"/>
                </Row>
            </Body>
        </Table>
    </Example> 
    
    <Example Title="Sortable Table">
        <Table Caption="Sortable Table" DataSource=@(()=> GetData())>
            <Header>
                <Row>
                    <!--TODO Try to avoid the index parameter later-->
                    <Column Label="Repositories" Key="Repositories" IsSortable="true" Idx="0" />
                    <Column Label="Branches" Key="Branches" IsSortable="true" Idx="1"/>
                    <Column Label="Pull requests" Key="PullRequests" IsSortable="true" Idx="2" />
                    <Column Label="Workspaces" Key="Workspaces" Idx="3"/>
                    <Column Label="Last commit" Key="LastCommit" Align="@Align.Center" Idx="4"/>
                </Row>
            </Header>
        </Table>
    </Example>

    <Example Title="Action Column Table">
        <Table Caption="Sortable Table" DataSource=@(()=> GetData())>
            <Header>
                <Row>
                    <Column Label="Repositories" Key="Repositories" IsSortable="true" Idx="0" />
                    <Column Label="Branches" Key="Branches" IsSortable="true" Idx="1"/>
                    <Column Label="Pull requests" Key="PullRequests" IsSortable="true" Idx="2" />
                    <Column Label="Workspaces" Key="Workspaces" Idx="3"/>
                    <Column Label="Last commit" Key="LastCommit" Align="@Align.Center" Idx="4"/>
                    <ActionColumn Label="Actions" Key="Actions" Align="@Align.Center" Idx="5" ActionSource=@(record => GetActions(record)) />
                </Row>
            </Header>
        </Table>
    </Example>
</section>
