@page "/components/table"

@using Blorc.PatternFly.Components.Table
@using Blorc.PatternFly.Components.Button
@using Blorc.PatternFly.Components.Icon
@using Blorc.PatternFly.Components.TextInput
@using Blorc.PatternFly.Components.EmptyState
@using Blorc.PatternFly.Components.Text
@using Blorc.PatternFly.Components.Title
@using Blorc.PatternFly.Components.ToggleComponentContainer
@using System
@using System.Collections.Generic;
@using Blorc.PatternFly.Core


@inherits TableDemoComponent
<Metadata ComponentName="Table" />

<Todo ComponentName="Table">
    <TodoList>
        <TextContent>
            <TextList>
                <TextListItem>Advanced features</TextListItem>
            </TextList>
        </TextContent>
    </TodoList>
</Todo>


<section class="ws-section ws-live-demo">
    <Example Title="Simple Manual Table">
        <Table Caption="Simple Manual Table">
            <Header>
                <Row>
                    <Column Label="Repositories" Key="0" />
                    <Column Label="Branches" Key="1" />
                    <Column Label="Pull requests" Key="2" />
                    <Column Label="Workspaces" Key="3" />
                    <Column Label="Last commit" Key="4" Align="@Align.Center" />
                </Row>
            </Header>
            <Body>
            <Row>
                <Cell Label="Repositories" Key="0" Value="one" />
                <Cell Label="Branches" Key="1" Value="two" />
                <Cell Label="Pull requests" Key="2" Value="three" />
                <Cell Label="Workspaces" Key="3" Value="four" />
                <Cell Label="Last commit" Key="4" Value="five" Align="@Align.Center" />
            </Row>
            <Row>
                <Cell Label="Repositories" Key="0" Value="one" />
                <Cell Label="Branches" Key="1" Value="two" />
                <Cell Label="Pull requests" Key="2" Value="three" />
                <Cell Label="Workspaces" Key="3" Value="four" />
                <Cell Label="Last commit" Key="4" Value="five" Align="@Align.Center" />
            </Row>
            <Row>
                <Cell Label="Repositories" Key="0" Value="one" />
                <Cell Label="Branches" Key="1" Value="two" />
                <Cell Label="Pull requests" Key="2" Value="three" />
                <Cell Label="Workspaces" Key="3" Value="four" />
                <Cell Label="Last commit" Key="4" Value="five (not centered)" />
            </Row>
            </Body>
        </Table>
    </Example>

    <Example Title="Simple Manual Table (No Caption)">
        <Table>
            <Header>
                <Row>
                    <Column Label="Repositories" Key="0" />
                    <Column Label="Branches" Key="1" />
                    <Column Label="Pull requests" Key="2" />
                    <Column Label="Workspaces" Key="3" />
                    <Column Label="Last commit" Key="4" Align="@Align.Center" />
                </Row>
            </Header>
            <Body>
            <Row>
                <Cell Label="Repositories" Key="0" Value="one" />
                <Cell Label="Branches" Key="1" Value="two" />
                <Cell Label="Pull requests" Key="2" Value="three" />
                <Cell Label="Workspaces" Key="3" Value="four" />
                <Cell Label="Last commit" Key="4" Value="five" Align="@Align.Center" />
            </Row>
            <Row>
                <Cell Label="Repositories" Key="0" Value="one" />
                <Cell Label="Branches" Key="1" Value="two" />
                <Cell Label="Pull requests" Key="2" Value="three" />
                <Cell Label="Workspaces" Key="3" Value="four" />
                <Cell Label="Last commit" Key="4" Value="five" Align="@Align.Center" />
            </Row>
            <Row>
                <Cell Label="Repositories" Key="0" Value="one" />
                <Cell Label="Branches" Key="1" Value="two" />
                <Cell Label="Pull requests" Key="2" Value="three" />
                <Cell Label="Workspaces" Key="3" Value="four" />
                <Cell Label="Last commit" Key="4" Value="five (not centered)" />
            </Row>
            </Body>
        </Table>
    </Example>

    <Example Title="Update Data">
        <TextContent>
            <Text Component="p">
                This button will update the Repository property of a random record in the data source in order to test the row only render capabilities of the table
            </Text>
        </TextContent>
        <Button Variant="ButtonVariant.Primary" OnClick=@((s, e) => UpdateSingleRow())>Update</Button>
    </Example>

    <Example Title="Sortable Table">
        <Table Caption="Sortable Table" DataSource=@(()=> GetData())>
            <Header>
                <Row>
                    <!--TODO Try to avoid the index parameter later-->
                    <Column Label="Repositories" Key="Repositories" IsSortable="true" Idx="0" />
                    <Column Label="Branches" Key="Branches" IsSortable="true" Idx="1" />
                    <Column Label="Pull requests" Key="PullRequests" IsSortable="true" Idx="2" />
                    <Column Label="Workspaces" Key="Workspaces" Idx="3" />
                    <Column Label="Last commit" Key="LastCommit" Align="@Align.Center" Idx="4" />
                </Row>
            </Header>
        </Table>
    </Example>
    
    <Example Title="Filtrable Table">
        <TextInput @bind-Value="FilterText" UpdateMode="@UpdateMode.Continuous" @ref="_filterTextInput" />
        <Table Caption="Filtrable Table" DataSource=@(()=> GetData()) @ref="FiltrableTable">
            <Header>
                <Row>
                    <!--TODO Try to avoid the index parameter later-->
                    <Column Label="Repositories" Key="Repositories" IsSortable="true" Idx="0" FilterPredicate=@(o => string.IsNullOrEmpty(FilterText) || ((string)o).Contains(FilterText)) />
                    <Column Label="Branches" Key="Branches" IsSortable="true" Idx="1" />
                    <Column Label="Pull requests" Key="PullRequests" IsSortable="true" Idx="2" />
                    <Column Label="Workspaces" Key="Workspaces" Idx="3" />
                    <Column Label="Last commit" Key="LastCommit" Align="@Align.Center" Idx="4" />
                </Row>
            </Header>
            <NoRowsContent>
                <EmptyState Variant="EmptyStateVariant.Full">
                    <EmptyStateIcon Icon="Search" />
                    <Title HeadingLevel="h2" Size="lg">
                        No results found
                    </Title>
                    <EmptyStateBody>
                        No results match the filter criteria. Remove all filters or clear all filters to show results.
                    </EmptyStateBody>
                    <Button Variant="ButtonVariant.Link" OnClick=@((s, e) => _filterTextInput.Clear())>Clear all filters</Button>
                </EmptyState>
            </NoRowsContent>
        </Table>
    </Example> 

    <ToggleComponentContainer>
        <Example Title="Action Column Table">
            <Table Caption="Action Column" DataSource=@(()=> GetData())>
                <Header>
                    <Row>
                        <Column Label="Repositories" Key="Repositories" IsSortable="true" Idx="0" />
                        <Column Label="Branches" Key="Branches" IsSortable="true" Idx="1" />
                        <Column Label="Pull requests" Key="PullRequests" IsSortable="true" Idx="2" />
                        <Column Label="Workspaces" Key="Workspaces" Idx="3" />
                        <Column Label="Last commit" Key="LastCommit" Align="@Align.Center" Idx="4" />
                        <ActionColumn Label="Actions" Key="Actions" Align="@Align.Center" Idx="5" ActionSource=@(record => GetActions(record)) />
                    </Row>
                </Header>
            </Table>
        </Example>
    </ToggleComponentContainer>
</section>

@code
{
    TextInput _filterTextInput;
}
