@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using System

@inherits UniqueComponentBase

<div class="pf-c-radio">
    <input name="@Name"
           id="@InstanceId"
           class="pf-c-radio__input"
           type="radio"
           aria-invalid="@IsInvalid"
           value="@Value"
           checked="@IsChecked"
           @onchange="OnValueChanged"
           disabled="@IsDisabled" />
    <label class="pf-c-radio__label" for="@InstanceId">@Label</label>
</div>

@code
{
    private void OnValueChanged(ChangeEventArgs e)
    {
        IsChecked = (bool)e.Value;

        var handler = OnChange;
        if (handler is not null)
        {
            handler(this, EventArgs.Empty);
        }
    }
}