@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits Blorc.PatternFly.Components.Checkbox.CheckboxComponent

<div class="pf-c-check">
    <input name="@Name"
           id="@InstanceId"
           class="pf-c-check__input"
           type="checkbox"
           aria-invalid="@IsInvalid"
           checked="@IsChecked"
           @onchange="OnValueChanged"
           disabled="@IsDisabled" />
    <label class="pf-c-check__label" for="@InstanceId">@Label</label>
</div>