@inherits Blazorc.PatternFly.Components.Switch.SwitchComponent

<label class="pf-c-switch" for="@_instanceId">
    <input aria-label="@Label" 
           id="@_instanceId" 
           class="pf-c-switch__input" 
           type="checkbox"
           checked="@IsChecked"
           onchange="@OnValueChanged"
           disabled="@IsDisabled" />
    <span class="pf-c-switch__toggle"></span>
    <span class="pf-c-switch__label pf-m-on" aria-hidden="true">@Label</span>
    <span class="pf-c-switch__label pf-m-off" aria-hidden="true">@Label</span>
</label>

@functions
{
    private static int InstanceCounter;

    private readonly string _instanceId = $"switch-{++InstanceCounter}";

    private void OnValueChanged(UIChangeEventArgs e)
    {
        IsChecked = (bool)e.Value;

        var handler = OnChange;
        if (handler != null)
        {
            handler();
        }
    }
}