@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits PaginationComponent


    <div class=@Class>
        <div class="pf-c-pagination__total-items">
            <b>@(PageFirstItemIndex + 1)<!-- --> - <!-- -->@(PageLastItemIndex + 1)</b> <!-- -->of <b>@ItemsCount</b>
        </div>
        @if (ItemsPerPageOptions != null)
        {
            <div class=@OptionsClass>
                <div class=@OptionsToogleClass>
                    <span class="pf-c-options-menu__toggle-text"><b>@(PageFirstItemIndex + 1) - @(PageLastItemIndex + 1)</b> of <b>@ItemsCount</b> </span>
                    <button aria-label="Items per page" class="pf-c-options-menu__toggle-button" type="button" aria-expanded="true" @onclick=@(()=> IsOptionsExpanded =!IsOptionsExpanded )>
                        <svg fill="currentColor" height="1em" width="1em" viewBox="0 0 320 512" aria-hidden="true" role="img" class="" style="        vertical-align: -0.125em;
">
                            <path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" transform=""></path>
                        </svg>
                    </button>
                </div>

                @if (IsOptionsExpanded)
                {
                    <ul aria-labelledby="pagination-options-menu-top-toggle" class="pf-c-options-menu__menu" role="menu">
                        @foreach (var option in ItemsPerPageOptions)
                        {
                            <li role="menuitem">
                                <button tabindex="-1" data-action="per-page-@option" type="button" class="@GetOptionClass(option)" @onclick=@(()=>SetItemsPerPage(option))>
                                    @option
                                    <span class="pf-c-pagination__menu-text"> per page</span>
                                    @if (IsOptionSelected(option))
                                    {
                                        <i class="pf-c-options-menu__menu-item-icon">
                                            <svg fill="currentColor" height="1em" width="1em" viewBox="0 0 512 512" aria-hidden="true" role="img" style="vertical-align: -0.125em;">
                                                <path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" transform=""></path>
                                            </svg>
                                        </i>
                                    }
                                </button>
                            </li>
                        }
                    </ul>
                }
            </div>
        }
        else
        {
            <div class=@OptionsToogleClass>
                <span class="pf-c-options-menu__toggle-text"><b>@(PageFirstItemIndex + 1) - @(PageLastItemIndex + 1)</b> of <b>@ItemsCount</b> </span>
            </div>
        }

    <nav class="pf-c-pagination__nav" aria-label="Pagination">

        @if (!IsCompact)
        {
            if (PageIndex == 0)
            {
                <button data-action="first" aria-label="Go to first page" class="pf-c-button pf-m-plain" disabled="" type="button">
                    <svg fill="currentColor" height="1em" width="1em" viewBox="0 0 448 512" aria-hidden="true" role="img" style="vertical-align: -0.125em;">
                        <path d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z" transform=""></path>
                    </svg>
                </button>
            }
            else
            {
                <button data-action="first" aria-label="Go to first page" class="pf-c-button pf-m-plain" type="button" @onclick="OnFirstPageButtonPressed">
                    <svg fill="currentColor" height="1em" width="1em" viewBox="0 0 448 512" aria-hidden="true" role="img" style="vertical-align: -0.125em;">
                        <path d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z" transform=""></path>
                    </svg>
                </button>
            }
        }

        @if (PageIndex == 0 || IsDisabled)
        {
            <button data-action="previous" aria-label="Go to previous page" class="pf-c-button pf-m-plain" disabled="" type="button">
                <svg style="vertical-align: -0.125em" fill="currentColor" height="1em" width="1em" viewBox="0 0 256 512" aria-hidden="true" role="img"><path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z" transform=""></path></svg>
            </button>
        }
        else
        {
            <button data-action="previous" aria-label="Go to previous page" class="pf-c-button pf-m-plain" type="button" @onclick="OnPrevPageButtonPressed">
                <svg style="vertical-align: -0.125em" fill="currentColor" height="1em" width="1em" viewBox="0 0 256 512" aria-hidden="true" role="img"><path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z" transform=""></path></svg>
            </button>

        }

        @if (!IsCompact)
        {
            if (IsDisabled)
            {
                <div class="pf-c-pagination__nav-page-select">
                    <input class="pf-c-form-control" aria-label="Current page" type="number" disabled min="1" max="@PagesCount" @bind-value=@CurrentPage><span aria-hidden="true">of @PagesCount</span>
                </div>
            }
            else
            {
                <div class="pf-c-pagination__nav-page-select">
                    <input class="pf-c-form-control" aria-label="Current page" type="number"  min="1" max="@PagesCount" @bind-value=@CurrentPage><span aria-hidden="true">of @PagesCount</span>
                </div>
            }
        }


        @if (PageIndex == PagesCount - 1 || IsDisabled)
        {
            <button data-action="next" aria-label="Go to next page" class="pf-c-button pf-m-plain" disabled="" type="button">
                <svg style="vertical-align: -0.125em" fill="currentColor" height="1em" width="1em" viewBox="0 0 256 512" aria-hidden="true" role="img"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" transform=""></path></svg>
            </button>
        }
        else
        {
            <button data-action="next" aria-label="Go to next page" class="pf-c-button pf-m-plain" type="button" @onclick="OnNextPageButtonPressed">
                <svg style="vertical-align: -0.125em" fill="currentColor" height="1em" width="1em" viewBox="0 0 256 512" aria-hidden="true" role="img"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" transform=""></path></svg>
            </button>
        }

        @if (!IsCompact)
        {
            if (PageIndex == PagesCount - 1 || IsDisabled)
            {
                <button data-action="last" aria-label="Go to last page" class="pf-c-button pf-m-plain" disabled="" type="button">
                    <svg fill="currentColor" height="1em" width="1em" viewBox="0 0 448 512" aria-hidden="true" role="img" style="vertical-align: -0.125em;">
                        <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z" transform=""></path>
                    </svg>
                </button>
            }
            else
            {
                <button data-action="last" aria-label="Go to last page" class="pf-c-button pf-m-plain" type="button" @onclick="OnLastPageButtonPressed">
                    <svg fill="currentColor" height="1em" width="1em" viewBox="0 0 448 512" aria-hidden="true" role="img" style="vertical-align: -0.125em;">
                        <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z" transform=""></path>
                    </svg>
                </button>
            }
        }
    </nav>
</div>