@using Blazorc.PatternFly.Components.Navigation

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor.PatternFly.Example</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
    <Navigation ref="Navigation">
        <NavigationItem Title="Home" Link="/" Parent="@Navigation" >
            <Content>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </Content>
        </NavigationItem>
        <NavigationItem Title="Counter" Link="/counter" Parent="@Navigation" >
            <Content>
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </Content>
        </NavigationItem>
        <NavigationItem Title="Fetch Data" Link="/fetchdata" Parent="@Navigation">
            <Content>
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </Content>
        </NavigationItem>
        <NavigationExpandableSection Title="Components" Parent="@Navigation" ref="ComponentsNavigationExpandableSection">
            <Items>
                <NavigationItem Title="About modal box" Link="components/about-modal-box" Parent="@ComponentsNavigationExpandableSection" >
                </NavigationItem>
                <NavigationItem Title="Accordion" Link="components/accordion" Parent="@ComponentsNavigationExpandableSection" />
                <NavigationItem Title="Nav" Link="components/nav" Parent="@ComponentsNavigationExpandableSection" />
                <NavigationItem Title="Etc.." Link="components/etc" Parent="@ComponentsNavigationExpandableSection" />
            </Items>
        </NavigationExpandableSection>
    </Navigation>

    <!--
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span> Counter
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="fetchdata">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
        </NavLink>
    </li>
    </ul>
    -->
</div>

@functions {
    Navigation Navigation = new Navigation();

    NavigationExpandableSection ComponentsNavigationExpandableSection = new NavigationExpandableSection();

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
