@using Blazorc.PatternFly.Components.Navigation

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazorc.PatternFly.Example</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
    <Navigation ref="Navigation">
        <Items>
            <NavigationItem Title="Home" Link="/" Parent="@Navigation">
                <Content>
                    <i class="fa fa-home mr-3" aria-hidden="true"></i>  Home
                </Content>
            </NavigationItem>
            <NavigationExpandableSection Title="Components" Parent="@Navigation" ref="ComponentsNavigationExpandableSection">
                <Content>
                    <i class="fa fa-server mr-3" aria-hidden="true"></i> Components
                </Content>
                <Items>
                    <NavigationItem Title="About modal box" Link="components/about-modal-box" Parent="@ComponentsNavigationExpandableSection" />
                    <NavigationItem Title="Accordion" Link="components/accordion" Parent="@ComponentsNavigationExpandableSection" />
                    <NavigationItem Title="Nav" Link="components/nav" Parent="@ComponentsNavigationExpandableSection" />
                    <NavigationItem Title="Etc.." Link="components/etc" Parent="@ComponentsNavigationExpandableSection" />
                </Items>
            </NavigationExpandableSection>
        </Items>
    </Navigation>
</div>

@functions {
    Navigation Navigation = new Navigation();

    NavigationExpandableSection ComponentsNavigationExpandableSection = new NavigationExpandableSection();

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
