@using System
@using System.Threading.Tasks
@using Blazor.PatternFly
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop

@inherits Blazorc.PatternFly.Components.Tooltip.TooltipComponent

<span onmouseout="@(e => OnMouseOut(e))"
        onmouseover="@(e => OnMouseEnter(e))"
        onclick="@(e => OnClick(e))"
        onfocus="@(e => OnFocus(e))">

    <span aria-describedby="@Id">@ChildContent</span>

    @if (IsVisible)
    {
        <div class="pf-c-tooltip @GetPositionClass()" role="tooltip" id="@Id" style="position: absolute;transition-duration: 0ms; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(@X, @Y, 0px);" x-placement="bottom">
            <div class="pf-c-tooltip__arrow">
            </div>
            <div class="pf-c-tooltip__content" id="tooltip-top-content">
                @TooltipContent
            </div>
        </div>
    }
    else
    {
        <div class="pf-c-tooltip @GetPositionClass()" role="tooltip" id="@Id" style="position: absolute; visibility: hidden" x-placement="bottom">
            <div class="pf-c-tooltip__arrow">
            </div>
            <div class="pf-c-tooltip__content" id="tooltip-top-content">
                @TooltipContent
            </div>
        </div>
    }
</span>
