@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits Blorc.PatternFly.Components.Switch.SwitchComponent

<label class="pf-c-switch" for="@InstanceId">
    <input aria-label="@Label"
           id="@InstanceId"
           class="pf-c-switch__input"
           type="checkbox"
           checked="@IsChecked"
           @onchange="OnValueChanged"
           disabled="@IsDisabled" />
    <span class="pf-c-switch__toggle"></span>
    <span class="pf-c-switch__label pf-m-on" aria-hidden="true">@Label</span>
    <span class="pf-c-switch__label pf-m-off" aria-hidden="true">@Label</span>
</label>

@code
{
    private void OnValueChanged(ChangeEventArgs e)
    {
        IsChecked = (bool)e.Value;

        var handler = OnChange;
        if (handler != null)
        {
            handler();
        }
    }
}