@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits Blorc.PatternFly.Components.Progress.ProgressComponent

@using Blorc.PatternFly.Components.Icon

<div aria-valuetext="@ValueText"
     aria-describedby="@InstanceId-description"
     class="pf-c-progress @Class"
     id="@InstanceId"
     role="progressbar">
    <div class="pf-c-progress__description"
         id="@InstanceId-description"
         style="@TitleStyle">@Title</div>

    <div class="pf-c-progress__status">
        @if (Value > -1)
        {
            <span class="pf-c-progress__measure">@OutsideValue</span>
        }

        <span class="pf-c-progress__status-icon"
              style="@DangerIconStyle">
            <TimesCircleIcon />
        </span>

        <span class="pf-c-progress__status-icon"
              style="@SuccessIconStyle">
            <CheckCircleIcon />
        </span>
    </div>
        <div class="pf-c-progress__bar"
             aria-describedby="@InstanceId-description"
             aria-valuemin="@Min"
             aria-valuenow="@Value"
             aria-valuemax="@Max"
             aria-valuetext="@ValueText">
            
            <div class="pf-c-progress__indicator"
                 style="width: @Value%;">
                <span class="pf-c-progress__measure">@InsideValue</span>
            </div>
        </div>
    </div>