@page "/components/select"

@using Blazorc.PatternFly.Components.Select

<Metadata ComponentName="Select" />

<section class="ws-section ws-live-demo">
    <Example Title="Single select input">
        <div>
            <span id="title-id" hidden>
                Title
            </span>
            <Select Variant="SelectVariant.Single"
                    Label="Select Input"
                    SelectedItems="@_singleSelectInputSelectedItems"
                    IsExpanded="false"
                    AriaLabelledBy="title-id">
                <SelectOption Key="0" Value="Choose..." IsPlaceholder="true" />
                <SelectOption Key="1" Value="Mr" IsPlaceholder="false" />
                <SelectOption Key="2" Value="Miss" IsPlaceholder="false" />
                <SelectOption Key="3" Value="Mrs" IsPlaceholder="false" />
                <SelectOption Key="4" Value="Ms" IsPlaceholder="false" />
                <SelectOption Key="5" Value="Dr" IsPlaceholder="false" />
                <SelectOption Key="6" Value="Other" IsPlaceholder="false" />
            </Select>
        </div>
    </Example>

    <Example Title="Checkbox select input">
        <div>
            <span id="checkbox-select-id" hidden>
                Title
            </span>
            <Select Variant="SelectVariant.Single"
                    Label="Select Input"
                    SelectedItems="@_checkboxSelectInputSelectedItems"
                    IsExpanded="false"
                    AriaLabelledBy="checkbox-select-id">
                <CheckboxSelectOption Key="0" Value="Active" />,
                <CheckboxSelectOption Key="1" Value="Cancelled" />,
                <CheckboxSelectOption Key="2" Value="Paused" />,
                <CheckboxSelectOption Key="3" Value="Warning" />,
                <CheckboxSelectOption Key="4" Value="Restarted" />
            </Select>
        </div>
    </Example>

    <Example Title="Grouped checkbox select input">
        <div>
            <span id="grouped-checkbox-select-id" hidden>
                Grouped Checkbox Title
            </span>
            <Select Variant="SelectVariant.Checkbox"
                    Label="Grouped Checkbox Select Input"
                    SelectedItems="@_groupedCheckboxSelectInputSelectedItems"
                    IsExpanded="false"
                    PlaceholderText="Filter by status"
                    AriaLabelledBy="grouped-checkbox-select-id"
                    IsGrouped="true">
                <CheckboxSelectGroup Label="Status" Key="group1">
                    <CheckboxSelectOption Key="0" value="Running" />
                    <CheckboxSelectOption Key="1" value="Stopped" />
                    <CheckboxSelectOption Key="2" value="Down" />
                    <CheckboxSelectOption Key="3" value="Degraded" />
                    <CheckboxSelectOption Key="4" value="Needs Maintenence" />
                </CheckboxSelectGroup>
                <CheckboxSelectGroup Label="Vendor Names" Key="group2">
                    <CheckboxSelectOption Key="5" Value="Dell" />
                    <CheckboxSelectOption Key="6" Value="Samsung" IsDisabled="true" />
                    <CheckboxSelectOption Key="7" Value="Hewlett-Packard" />
                </CheckboxSelectGroup>
            </Select>
        </div>
    </Example>

    <Example Title="Typeahead select input">
        <div>
            <span id="typeahead-select-id" hidden>
                Select a state
            </span>
            <Select Variant="SelectVariant.Typeahead"
                    Label="Select a state"
                    SelectedItems="@_typeaheadSelectInputSelectedItems"
                    IsExpanded="false"
                    AriaLabelledBy="typeahead-select-id"
                    PlaceholderText="Select a state">
                <SelectOption Key="0" Value="Alabama" />
                <SelectOption Key="1" Value="Florida" />
                <SelectOption Key="2" Value="New Jersey" />
                <SelectOption Key="3" Value="New Mexico" />
                <SelectOption Key="4" Value="New York" />
                <SelectOption Key="5" Value="North Carolina" />
            </Select>
        </div>
    </Example>

    <Example Title="Multiple typeahead select input">
        <div>
            <span id="multi-typeahead-select-id" hidden>
                Select a state
            </span>
            <Select Variant="SelectVariant.TypeaheadMulti"
                    Label="Select a state"
                    SelectedItems="@_multipleTypeaheadSelectInputSelectedItems"
                    IsExpanded="false"
                    AriaLabelledBy="multi-typeahead-select-id"
                    PlaceholderText="Select a state">
                <SelectOption Key="0" Value="Alabama" />
                <SelectOption Key="1" Value="Florida" />
                <SelectOption Key="2" Value="New Jersey" />
                <SelectOption Key="3" Value="New Mexico" />
                <SelectOption Key="4" Value="New York" />
                <SelectOption Key="5" Value="North Carolina" />
            </Select>
        </div>
    </Example>
</section>

@functions 
{
    private List<object> _singleSelectInputSelectedItems = new List<object>();
    private List<object> _checkboxSelectInputSelectedItems = new List<object>();
    private List<object> _groupedCheckboxSelectInputSelectedItems = new List<object>();
    private List<object> _typeaheadSelectInputSelectedItems = new List<object>();
    private List<object> _multipleTypeaheadSelectInputSelectedItems = new List<object>();

    private void OnSingleSelectInputSelectionChanged(object sender, EventArgs e)
    {
        Console.WriteLine("Selection changed");
    }
}

