@inherits  Blorc.PatternFly.Example.Components.Metadata.MetadataComponent

<h1><a href="https://www.patternfly.org/v4/documentation/react/components/@ComponentNameSlug" target="_blank">@ComponentName</a></h1>

<br />

<h2>Metadata</h2>

<br />

<table>
    <tr>
        <td>PatternFly documentation</td>
        <td><a href="@DocumentationUrl" target="_blank">@DocumentationUrl</a></td>
    </tr>

    <tr>
        <td>PatternFly source code</td>
        <td><a href="@SourceUrl" target="_blank">@SourceUrl</a></td>
    </tr>
</table>

<br />