@using System.Drawing
@using System.Threading.Tasks
@using Blorc.Attributes
@using Blorc.PatternFly.Components.Container
@using Blorc.PatternFly.Components.Icon
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Blorc.PatternFly.Components.Modal
@using Blorc.PatternFly.Components.Progress

@inherits BlorcComponentBase

<SourceContainer @ref="_modalSourceContainer">
    @if (CloseButtonPressed is not null)
    {
        <Modal Size="@Size" ShowCloseButton="@ShowCloseButton" CloseButtonPressed="@CloseButtonPressed">
            <Header>
                @Header
            </Header>
            <Body>
                @Body
            </Body>
            <Footer>
                @Footer
            </Footer>
        </Modal>
    }
    else
    {
        <Modal Size="@Size" ShowCloseButton="@ShowCloseButton">
            <Header>
                @Header
            </Header>
            <Body>
                @Body
            </Body>
            <Footer>
                @Footer
            </Footer>
        </Modal>
    }
</SourceContainer>

@code
{
    [InjectComponentService(nameof(ModalSourceContainerService))]
    private SourceContainer _modalSourceContainer;
}
